


@font-face {
    font-family: 'Wildera uppercase';
    src: local('Wildera-Regular'), url("../css/fonts/Wildera-Regular.otf") format("opentype");
}

 
body {
  font-family: Futura, Arial, sans-serif;
  margin: 0;
  font-size: 14;
  background-color: #f5f4ed;
}

header {
  text-align: center;
  background-color: #fdfdfd;
  border-bottom: 2px dotted #e5e2e0;
}


.trns-text {
  background: url(https://img.freepik.com/free-photo/colorful-dramatic-sky-with-cloud-sunset-sky-with-sun-background_33736-1538.jpg?size=626&ext=jpg)   20px 20px no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
      -webkit-text-stroke: 4px rgba(255,255,255,.6);
    text-stroke: 4px rgba(255,255,255,.6);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
  display:block;
  font-size: 56px;
  font-family: arial;
  text-align: center;
  font-weight: 700;
  letter-spacing: 10px;
  background-size: cover;
  background-position: -87% 15%;
  margin: 0;

}

button {
  border: 1px solid black;
  /*position: absolute;*/
  text-align: right; 
  visibility: none;
  
}

/*========
 Image Spiner
 ========= */

 .loading-wrapper {
    display: block;
    position: fixed;
    text-align:center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    /*transform: translate(-50%,-50%);*/

    
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/spinner1.jpg);
   /* border: 2px dashed;*/
    background-color: #fff;
    animation: mannequin 500ms infinite alternate;
}
/*img .loading-wrapper {
  width: 5%;
}
*/

.loading-wrapper .indicator-text {
  display: inline-block;
    font-family: monospace;
    color: black;
    font-size: 2em;
    margin: 200px 190px;
}


@keyframes mannequin {

  0% {
  
    background-image: url(../img/spinner1.jpg);
  }
 
  20% {
    background-image: url(../img/spinner2.jpg);

  }

  40% {
    background-image: url(../img/spinner3.jpg);
  }

  60% {
    background-image: url(../img/spinner4.jpg);
  }
} 

/* ==========
  Spiner ends
  =========== */

#j-forecast {
  width: 100%;
  font-family: 'La Belle Aurore', cursive;
  color: #704214;
  /*font-family: Gill Sans, Arial, sans-serif;*/
 
  /*flex-direction: row;*/
}

.text {
  width: 80%;
  text-align: left;
  /*padding-top: 1px;
  padding-left: 4px;*/
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-indent: 5px;  
  
}

span {
  font-size: 1.25rem;
}

/* =======
Slider */
.clothes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(3deg);
}


.carousel {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 45%;
  height: 442px;
 
}

/*.j-slider img {
  position: relative;
  display: inline-block;
  width: 20%;
  border-radius: 5px;
}*/

.clothesback, .clothesforth {
  cursor: pointer;
  vertical-align: top;
  margin: 0 auto;

}


.slider {
  position: absolute;
  width: 500%;
}

a#nextDate, a#prevDate {
  margin-top: 2%;
  margin-left: 18%;
  width: 22%;
  
  cursor: pointer;
  font-size: 1rem;

}
a#nextDate:hover, a#prevDate:hover {
  color: #6e8c8d;
}



@media (min-width: 980px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .carousel {
    padding-top: 2em;
    height: 623px;
    width: 59%;
  }
  

  .trns-text {
    font-size: 120px;
  }
  .span {
    font-size: 0.6rem;
  }
  .text {
    width: 80%;
    text-align: left;
    text-indent: 30px;
    /* padding-top: 14px; */
    /* padding-left: 40px; */
    margin: 0 auto;
    padding: 2rem;
    font-size: 1.98rem;
    line-height: 2.98rem;
  }

  .clothesback, .clothesforth {
    cursor: pointer;
    vertical-align: top;
    margin: 10%;
    padding: 5px;

  }

  a#nextDate, a#prevDate {
    text-align: center;
    margin-left: 9%;
  }

}

/*@media (min-width: 985px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .carousel {
    height: 500px;
  }

}*/




























