body {
  font-family: Futura, Arial, sans-serif;
  margin: 0px auto;
  font-size: 14;
  color: #666666;
}
.wrapper {
  
}

header {
  text-align: center;
  background-color: #fdfdfd;
  border-bottom: 2px dotted #e5e2e0;
}

h1 {
  font-size:50px;
}


.flex-container{
  padding-top: 20px;
  display:flex;
  flex-direction: column;  
}

#forecast {
  width: 50%;
  /*float:left;*/
  font-family: Gill Sans, Arial, sans-serif;
  font-size: 18px;
  margin: 20px;
  text-align:center;
  line-height: 1.8em;
  /*flex-direction: row;*/

}
.text {
  text-align: left;
  padding-top: 10px;
  padding-left: 50px;
}

#clothes {
  width: calc(33.3% - 40px);

}
.clothes-wrapper {
  padding-top: 15px;
  position:relative;
}

img.clothing{
  position: relative;
  /*float: left;*/
  width:  50%;
  height: 50%;
  background-position: 100% 100%;
  background-size: cover;
}
button#clickButton {
  border: 1px solid black;
  position: absolute;
  text-align: right;
}


@media (min-width: 800px) {
  .flex-container{
    /*width: calc(60% - 40px);*/
    height: 200px;
    /*float: right;*/
    flex-direction: row;
  }
  #clothes {
    width: calc(60% - 40px);
  }

}