body {
  font-family: Futura, Arial, sans-serif;
  margin: 0px auto;
  font-size: 14;
  color: #666666;
}

header {
  text-align: center;
  background-color: #fdfdfd;
  border-bottom: 2px dotted #e5e2e0;
}

h1 {
  font-size:50px;
}

img {
  padding-top:10px;
  width:30%;
  height:30%;
}

#weatherinfo {
  font-family: Gill Sans, Arial, sans-serif;
  font-size: 16px;
  margin: 20px;
  text-align:center;
  line-height: 1.4em;
}